<footer id="footer">
    <a href="{{ path('app_home') }}" class="footer-link">Mentions légales</a>
    <a href="{{ path('app_login') }}"> 
        <i class="fa fa-cog icone-gear"></i> 
    </a>
</footer>