security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # Utilisation de l'entité Admin pour charger les utilisateurs
        app_user_provider:
            entity:
                class: App\Entity\Admin  # Remplacez par le nom de votre entité Admin
                property: email  # Identifiant unique (email ici)

    firewalls:
        # Sécurisation de l'accès au /admin
        main:
            lazy: true
            provider: app_user_provider

            # Activation de l'authentification par formulaire
            form_login:
                login_path: app_login  # Point d'entrée du formulaire de connexion
                check_path: app_login  # URL pour vérifier les identifiants
                default_target_path: admin # Redirection après connexion réussie vers /admin
            logout:
                path: app_logout  # URL de déconnexion
                target: app_login  # Redirection vers la page de connexion après déconnexion

    # Contrôle d'accès (exigence de rôles pour certaines pages)
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }  # Accès restreint à /admin pour ROLE_ADMIN
        - { path: ^/profile, roles: ROLE_USER }  # Optionnel : Accès au profil pour ROLE_USER
